footer{
    display: flex;
    flex-direction: column;
    width: 935px;
    padding: 0 136px;
    font-size: 0.75rem;
    color: #8E8E8E;
}

.footer__row1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 16px;
}

.footer__row2{
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
}

.footer__row2 p{
    padding-left: 23px;
}